@import url(/src/styles/global.css);

header{
    display: flex;
    gap: 120px;
    justify-content: center;
    align-items: center;
}

.logo{
    color: var( --color-light-text);
}

.nav-header ul{
    display: flex;
    gap: 21px;

}



.nav-header a{
    text-decoration: none;
    list-style: none;
    color: var(--color-light-text);
    font-weight: 600px; 
}

.nav-header a:hover{
    filter: brightness(0.8); /* escurece */
}


.header-button{
    gap: 20px;
    display: flex;
}

.header-button a{
    text-decoration: none;
}

.header-button a button{
    gap: 15px;
    display: flex;

}


.login{
    color: var(--color-light-text);
    background-color: transparent;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.login:hover{
    filter: brightness(0.8);
}



.become-member {
    padding: 15px 25px;
    background-color: var( --color-primary-color);
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: var(--color-light-text);
    cursor: pointer;
}

.become-member:hover{
    filter: brightness(0.90);
}


main{
    display: flex;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    gap: 123px;
}

.main-content{
    width: 509px;
    
}

.main-content h1{
    font-size: 58px;
    font-weight: 800px;
    color: var(--color-light-text);
}

.main-content p{
    width: 376px;
    font-size: 20px;
    color: var(--color-light-text);
    margin-bottom: 35px;
}


.get-quote-now{
    background-color: var(--color-primary-color);
    color: var(--color-light-text);
    padding: 15px 36px;
    border-radius: 37px;
    border: none;
}

.learn-more{
    background-color: transparent;
    color: var(--color-light-text);
    border-radius: 37px;
    border: solid 1px;
    padding: 15px 35px;
}

.main-img img{
    width: 471px;
    height: 583px;
    margin-top: 43px;
}