@import url(/src/styles/global.css);

header {
    display: flex;
    gap: 120px;
    justify-content: center;
    align-items: center;
}

.logo {
    color: var(--color-light-text);
    margin-top: 20px;
}

.nav-header ul {
    display: flex;
    gap: 21px;
    margin-top: 24px;

}



.nav-header a {
    text-decoration: none;
    list-style: none;
    color: var(--color-light-text);
    font-weight: 600px;
}

.nav-header a:hover {
    filter: brightness(0.8);
    /* escurece */
}



.header-button {
    gap: 20px;
    display: flex;
    margin-top: 20px;
}

.header-button a {
    text-decoration: none;
}

.header-button a button {
    gap: 15px;
    display: flex;

}


.login {
    color: var(--color-light-text);
    background-color: transparent;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.login:hover {
    filter: brightness(0.8);
}



.become-member {
    padding: 15px 25px;
    background-color: var(--color-primary-color);
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: var(--color-light-text);
    cursor: pointer;
}

.become-member:hover {
    filter: brightness(0.90);
}

.menu-toggle {
    flex-direction: column;
    width: 30px;
    height: 22px;
    display: none;
    gap: 2px;
}

.menu {
    background-color: white;
    padding: 2px 15px;
}

.nav-menu-mobile {
    display: none;
}

 .menu-toggle.active :nth-child(1){
    background-color: gray;
    transform: rotate(45deg) translate(5px, 5px);
}

.menu-toggle.active :nth-child(2){
    opacity: 0;

}

.menu-toggle.active :nth-child(3){
    background-color: grey;
    transform: rotate(-45deg) translate(5px, -5px);
}



main {
    display: flex;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    gap: 123px;
    margin: 0px 157px;
}

.main-content {
    width: 509px;

}

.main-content h1 {
    font-size: 58px;
    font-weight: 800px;
    color: var(--color-light-text);
    margin-bottom: 35px;
}

.main-content p {
    width: 376px;
    font-size: 20px;
    margin-right: 200px;
    color: var(--color-light-text);
    margin-bottom: 35px;
}


.get-quote-now {
    background-color: var(--color-primary-color);
    color: var(--color-light-text);
    padding: 15px 36px;
    border-radius: 37px;
    border: none;
    cursor: pointer;
}


.get-quote-now:hover {
    filter: brightness(0.90);
}

.learn-more {
    background-color: transparent;
    color: var(--color-light-text);
    border-radius: 37px;
    border: solid 1px;
    padding: 15px 35px;
    cursor: pointer;
}

.learn-more:hover {
    filter: brightness(0.85);
}

.main-img img {
    width: 471px;
    height: 583px;
    margin-top: 43px;
}


.section-quality {
    margin-top: 24px;
    margin: 0px 231px;
}



.quality-content h2 {
    color: var(--color-light-text);
    width: 451px;
    text-align: center;
    margin: 0 auto;

}

.quality-content p {
    color: var(--color-second-text);
    text-align: center;
    margin-top: 10px;
}

.quality-container {
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.card-business {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 19px;
    padding: 35px 27px 35px 20px;
    border: solid 1px var(--color-light-text);
    color: var(--color-light-text);
    margin-bottom: 30px;
    margin-top: 30px;
}

.card-business:hover {
    filter: brightness(0.90);
    /* escurece */
}

.card-business-img {
    width: 49.33px;
    height: 37.33px;
}


.card-business p {
    width: 213px;
    margin-top: 5px;
}


.what-clients-say {
    text-align: center;
    margin-top: 112px;
    margin-bottom: 78px;
}

.what-clients-say p {
    color: var(--color-light-text);
    margin-top: 10px;
}

.clients-content {
    background-color: var(--color-light-text);
    width: 749px;
    height: 362.01px;
    margin: 0 auto;
    padding-top: 40px;
    margin-top: 80px;
    border-radius: 5px;
}

.clients-content p {
    margin-top: 30px;
    margin-bottom: 16.83px;
    color: var(--color-second-text);
}

.clients-content h3 {
    margin: 15px 0px 8px;
}

.clients-content h4 {
    color: var(--color-second-text);
    font-size: 14px;
    font-weight: 600px;
}


.download-app {
    text-align: center;
    margin-bottom: 60px;
}

.download-app p {
    color: var(--color-light-text);
    margin-top: 10px;
}


.download-content {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}


.download-content a {
    text-decoration: none;
}

.download-content a:hover {
    filter: brightness(0.80);
}

.download-content article {
    display: flex;
    gap: 25.23px;
    padding: 18px 28px;
    width: 214px;
    border: solid 1px var(--color-light-text);
    align-items: center;
    border-radius: 10px;

}



.app p {
    width: 120px;
    text-align: start;
    font-weight: bold;
}

.section-princing {
    text-align: center;
}

.section-princing p {
    color: var(--color-light-text);
    margin-top: 10px;
}

.pricing-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 195px;
    margin-top: 96px;
    gap: 29px;
}

.per-month {
    background-color: var(--color-light-text);
    padding: 50px 49px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 510px;
    margin: 0 auto;
    margin-bottom: 160px;
    border-radius: 10px;
    gap: 30px;

}



.free h3 {
    color: var(--color-primary-color);
    text-align: start;
    margin-bottom: 15px;
}

.free p {
    text-align: start;
    margin: 0 auto;
    color: var(--color-second-text);
    width: 217px;
}

.per-month-button {
    width: 163px;
}


.per-month-button h2 {
    color: var(--color-primary-color);
}

.for-free {
    display: flex;
}

.for-free h4 {
    color: var(--color-primary-color);
    margin-right: 80px;
}

.for-free p {
    margin-right: 30px;
}


.per-month-button p {
    color: var(--color-disabled-element-color);
    width: 78px;
    margin-right: 2px;

}

.per-month-button button {
    background-color: var(--color-primary-color);
    padding: 15px 40px;
    border-radius: 5px;
    color: var(--color-light-text);
    cursor: pointer;
    margin-top: 29px;
}

.per-month-button button:hover {
    filter: brightness(0.90);
}

.have-branches {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 143px 0px 196px;
    margin-bottom: 51px;
}

.have-content {
    width: 602px;
    padding: 50px 126px 50px 0px;
}

.have-content P {
    color: var(--color-light-text);
    margin-top: 15px;
    width: 455px;
}

.have-img {
    width: 414px;

}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 149px;
}

form h3 {
    text-align: center;
    margin: 40px 135px;
}

.form-containe {
    background-color: var(--color-light-text);
    width: 610px;
    height: 610px;
    padding: 0px 50px;
}


.form-information label {
    display: block;
    margin: 10px 0px;
    font-size: 14px;
    font-weight: 600px;
    color: var(--color-dark-background);

}

.form-information input {
    padding: 11px 322px 11px 21px;
    background-color: #F9F9F9;
    border-radius: 5px;
    border: solid 1px #E6E6E6;
    margin-bottom: 10px;
}

select {
    padding: 11px 322px 11px 21px;
    background-color: #F9F9F9;
    border-radius: 5px;
    border: solid 1px #E6E6E6;
    margin-bottom: 10px;
    width: 507px;

}

.form-button {
    padding: 15px 200px;
    margin-top: 40px;
    border-radius: 5px;
    background-color: var(--color-primary-color);
    color: var(--color-light-text);
    cursor: pointer;
}

footer {
    border-top: 2px solid var(--color-light-text);
}

.footer-container {
    display: flex;
    gap: 30px;
    margin: 80px;
    justify-content: center;
    align-items: center;
}

.get-in-touch {
    color: var(--color-light-text);
    margin-bottom: 32px;
}

.get-in-touch p {
    margin: 25px 0px;
    width: 213px;
}

.icon-social {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: start;
    margin-top: 25px;
}

.facebook {
    transition: 0.7s;
}

.facebook:hover {
    transform: translateY(-10px);
}

.instagram {
    transition: 0.7s;
}

.instagram:hover {
    transform: translateY(-10px);
}

.twitter {
    transition: 0.7s;
}

.twitter:hover {
    transform: translateY(-10px);
}


.footer-content h3 {
    color: var(--color-light-text);
    margin-bottom: 25px;
    font-size: 24px;
}


.footer-content ul {
    list-style: none;
}

.footer-content li {
    margin-bottom: 10px;
    transition: 0.5s;
}

.footer-content li:hover {
    transform: translatex(10px);
}

.footer-content a {
    text-decoration: none;
    color: var(--color-light-text);

}

.footer-content a:hover {
    color: var(--color-primary-color);
}

.by-figmaland {
    background-color: var(--color-light-text);
    padding: 25px 341px;
    text-align: center;
    color: var(--color-second-text);
}


/* --------- RESPONSIVIDADE --------- */

@media (max-width: 600px) {

    /* ---- header ---- */
    .nav-header,
    .header-button {
        display: none;
    }

    .menu-toggle {
        display: flex;
        margin-top: 25px;
        cursor: pointer;
    }

    .nav-menu-mobile {
        display: flex;
        background-color: rgba(0, 0, 0, 0.2);
        border: solid 1px white;
        flex-direction: column;
        padding: 20px;
        position: absolute;
        left: 1%;
        top: 7%;
        width: 90%;
        visibility: hidden;
    }

    .nav-menu {
        cursor: pointer;
    }


    .nav-menu a {
        text-decoration: none;
        list-style: none;
        color: var(--color-light-text);
        font-weight: 600px;

    }

    .nav-menu li {
        margin-bottom: 10px;
    }

    .header-menu-button {
        display: flex;
        cursor: pointer;
        flex-direction: column;
    }

    button, .login-menu{
        text-align: start;
        margin-top: 20px;
    }

    .login-menu {
        color: var(--color-light-text);
        background-color: transparent;
        border: none;
        font-weight: bold;
        cursor: pointer;
        border: solid 1px white;
        width: 100px;
        border-radius: 5px;
        padding: 15px 25px;
    }

    .nav-menu-mobile.show{
        opacity: 1;
        visibility: visible;
    }


    /* ---- fim header ---- */

    /* ----- main ---- */

    main {
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        transition: margin-top 0.8s ease;
    }

    .main-content {
        width: 90%;
        margin: 0 auto;
    }

    .main-content h1 {
        margin-top: 40px;
        font-size: 48px;
    }

    .main-content p {
        width: 100%;
    }

    .main-button {
        display: flex;
        gap: 4px;
        margin-bottom: 0px;
    }

    .main-img img {
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }

    /* ---- fim main ---- */

    /* ---- section-quality ---- */

    .section-quality {
        width: 90%;
        margin: 0 auto;
    }

    .quality-content {
        width: 90%;
        margin: 0 auto;
    }

    .quality-content h2 {
        width: 90%;
        font-size: 30px;
        margin: 0 auto;
    }

    .quality-content p {
        width: 90%;
        margin: 0 auto;
        margin-top: 20px;
    }

    .quality-container {
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        font-size: 14px;
    }

    /* ---- fim section-quality ---- */

    /* ----  what-clients-say ---- */

    .what-clients-say {
        width: 90%;
        margin: 0 auto;
    }

    .what-clients-say p {
        width: 100%;
    }

    .clients-content {
        width: 100%;
    }

    .clients-content p {
        font-weight: 600px;
    }

    /* ---- fim what-clients-say ---- */

    /* ---- download-app ---- */

    .download-app {
        width: 90%;
        margin: 0 auto;
    }

    .download-app h2 {
        margin: 40px 0px 20px;
    }

    .download-app p {
        width: 100%;
        margin: 0 auto;
    }

    .download-content {
        flex-direction: column;
        gap: 20px;
        margin-bottom: 20px;
    }

    /* ---- fim download-app ---- */

    /* ----- section-princing ----- */

    .section-princing {
        width: 90%;
        margin: 0 auto;
    }

    .section-princing p {
        width: 100%;
    }

    .pricing-cards {
        flex-direction: column;
        margin: 0 auto;
        margin-top: 40px;
        gap: 20px;
        width: 90%;
    }

    .per-month {
        flex-direction: column;
        padding: 30px 10px;
        width: 100%;
        margin-bottom: 40px;
        gap: 20px;
    }


    /* ----- fim  section-princing ----- */

    /* ------ have-branches ------ */

    .have-branches {
        flex-direction: column;
        padding: 0;
        margin-bottom: 30px;
        width: 100%;
    }

    .have-content {
        width: 90%;
        padding: 20px;
        text-align: center;
    }

    .have-content p {
        width: 100%;
    }

    .have-img {
        width: 90%;
        margin: 0 auto;
    }

    .have-img img {
        width: 100%;
    }

    /* ------ fim have-branches ------ */

    /*------ form ------*/
    form {
        flex-direction: column;
        width: 100%;
        padding: 1rem;
    }

    form img {
        display: none;
    }

    .form-containe {
        width: 100%;
        padding: 0 1rem;
        box-sizing: border-box;
    }

    .form-containe h3 {
        text-align: center;
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    .form-content {
        margin-bottom: 1rem;
    }

    .form-information label {
        font-size: 0.9rem;
        margin-bottom: 5px;
        display: block;
    }

    .form-information input,
    .form-information select {
        width: 90%;
        padding: 12px;
        font-size: 1rem;
        border-radius: 8px;
        box-sizing: border-box;
    }


    .form-button {
        width: 90%;
        padding: 12px;
        font-size: 1.1rem;
        background-color: var(--color-primary-color);
        border: none;
    }


    /*--------fim form ------*/

    /* ------- footer ------ */

    footer {
        width: 100%;
        margin: 0 auto;
    }

    .footer-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .by-figmaland {
        width: 100%;
        padding: 25px 20px;
        text-align: center;
    }

    .by-figmaland p {
        width: 90%;
        text-align: center;
    }


    /* ------- fim footer ------ */

}

@media (min-width: 601px) and (max-width: 991px) {


    /* ---- header ---- */

    header {
        display: flex;
        gap: 40px;
        justify-content: center;
        align-items: center;
    }


    /* ---- fim header ---- */

    /* ----- main ---- */

    main {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }



    .main-content h1 {
        margin-top: 40px;
        font-size: 58px;
    }

    .main-content p {
        width: 100%;
    }

    .main-button {
        display: flex;
        gap: 10px;
        margin-bottom: 40px;
    }

    .main-img img {
        width: 450px;
        height: 100%;
    }

    /* ---- fim main ---- */

    /* ---- section-quality ---- */

    .section-quality {
        width: 100%;
        margin: 0 auto;
    }

    .quality-content {
        width: 100%;
        margin: 0 auto;
    }

    .quality-content h2 {
        font-size: 40px;
        margin-top: 40px;
    }

    .quality-content p {
        margin-top: 20px;
    }

    .quality-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr)
    }

    /* ---- fim section-quality ---- */

    /* ----  what-clients-say ---- */

    .what-clients-say {
        width: 95%;
        margin: 0 auto;
    }

    .what-clients-say h2 {
        margin: 40px 0px 10px;
    }

    .what-clients-say p {
        width: 75%;
        margin: 0 auto;
    }

    .clients-content {
        width: 100%;
    }

    .clients-content p {
        font-weight: 600px;
    }

    /* ---- fim what-clients-say ---- */

    /* ---- download-app ---- */

    .download-app {
        width: 90%;
        margin: 0 auto;
    }

    .download-app h2 {
        margin-top: 40px;
    }

    .download-content {
        margin: 30px 70px;
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(2, 1fr);
    }



    /* ---- fim download-app ---- */

    /* ----- section-princing ----- */

    .section-princing {
        width: 90%;
        margin: 0 auto;
    }

    .section-princing p {
        width: 70%;
    }

    .pricing-cards {
        margin: 0 auto;
        margin-top: 40px;
        gap: 50px;
        width: 90%;
    }

    .per-month {
        flex-direction: column;
        padding: 30px 30px;
        width: 100%;
        margin-bottom: 40px;
        gap: 20px;
    }


    /* ----- fim  section-princing ----- */

    /* ------ have-branches ------ */

    .have-branches {
        padding: 0;
        margin-bottom: 30px;
        width: 100%;
    }

    .have-content {
        width: 100%;
        padding: 20px;
        text-align: center;
    }

    .have-content h2 {
        width: 100%;
        font-size: 35px;
        text-align: start;
    }

    .have-content p {
        text-align: start;
        width: 90%;
    }

    /* ------ fim have-branches ------ */

    /*------ form ------*/
    form {
        width: 90%;
        padding: 1rem;
    }


    /*--------fim form ------*/

    /* ------- footer ------ */

    footer {
        width: 100%;
        margin: 0 auto;
    }


    .by-figmaland {
        width: 100%;
        padding: 25px 20px;
        text-align: center;
    }


    /* ------- fim footer ------ */
}