@import url(/src/styles/global.css);

header{
    display: flex;
    gap: 120px;
    justify-content: center;
    align-items: center;
}

.logo{
    color: var( --color-light-text);
    margin-top: 20px;
}

.nav-header ul{
    display: flex;
    gap: 21px;
    margin-top: 24px;

}



.nav-header a{
    text-decoration: none;
    list-style: none;
    color: var(--color-light-text);
    font-weight: 600px; 
}

.nav-header a:hover{
    filter: brightness(0.8); /* escurece */
}


.header-button{
    gap: 20px;
    display: flex;
    margin-top: 20px;
}

.header-button a{
    text-decoration: none;
}

.header-button a button{
    gap: 15px;
    display: flex;

}


.login{
    color: var(--color-light-text);
    background-color: transparent;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.login:hover{
    filter: brightness(0.8);
}



.become-member {
    padding: 15px 25px;
    background-color: var( --color-primary-color);
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: var(--color-light-text);
    cursor: pointer;
}

.become-member:hover{
    filter: brightness(0.90);
}


main{
    display: flex;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    gap: 123px;
    margin: 0px 157px;
}

.main-content{
    width: 509px;
    
}

.main-content h1{
    font-size: 58px;
    font-weight: 800px;
    color: var(--color-light-text);
    margin-bottom: 35px;
}

.main-content p{
    width: 376px;
    font-size: 20px;
    margin-right: 200px;
    color: var(--color-light-text);
    margin-bottom: 35px;
}


.get-quote-now{
    background-color: var(--color-primary-color);
    color: var(--color-light-text);
    padding: 15px 36px;
    border-radius: 37px;
    border: none;
}

.learn-more{
    background-color: transparent;
    color: var(--color-light-text);
    border-radius: 37px;
    border: solid 1px;
    padding: 15px 35px;
}

.main-img img{  
    height: 583px;
    margin-top: 43px;
}


.section-quality{
    margin-top: 24px;
    margin: 0px 231px;
}



.quality-content h2{
    color: var(--color-light-text);
    width: 451px;
    text-align: center;
    margin: 0 auto;

}

.quality-content p{
    color: var( --color-second-text);
    text-align: center;
    margin-top: 10px;
}

.quality-container{
    display: flex;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.card-business{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap:19px;
    padding: 35px 27px 35px 20px;
    border: solid 1px var(--color-light-text);
    color: var(--color-light-text);
    margin-bottom: 30px;
    margin-top: 30px;
}  

.card-business:hover{
    filter: brightness(0.90); /* escurece */
}

.card-business-img{
    width: 49.33px;
    height: 37.33px;
}


.card-business p{
    width: 213px;
    margin-top: 5px;
}


.what-clients-say{
    text-align: center;
    margin-top: 112px;
    margin-bottom: 78px;
}

.what-clients-say p{
    color: var( --color-light-text);
    margin-top: 10px;
}

.clients-content{
    background-color: var(--color-light-text);
    width: 749px;
    height: 362.01px;
    margin: 0 auto;
    padding-top: 40px;
    margin-top: 80px;
    border-radius: 5px;
}
.clients-content p{
    margin-top: 30px;
    margin-bottom: 16.83px;
    color: var(--color-second-text);
}

.clients-content h3{
    margin: 15px 0px 8px;
}

.clients-content h4{
    color: var(--color-second-text);
    font-size: 14px;
    font-weight: 600px;
}